*~
Makefile
Makefile.in
aclocal.m4
adacompiler
adalinker
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
linker
ltmain.sh
missing
xmada-config

